body{background-image: url(image\ copy.png);}
h1{text-align: center;
font-family: fantasy;
font-size: 50px;
color: palevioletred;
    color: transparent;
    background-image: url(pink.png);
    background-size: cover;
    background-clip: text;
    animation:animate 40s linear infinite;}
@keyframes animate{
    to{background-position-x: 500px;}
}
#hello {display: block;
    margin-right: auto;
    margin-left: auto;
    animation:fadeIn 3s
    alternate;}
    @keyframes fadeIn 
    {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
#hello {background-image: url(image\ copy.png);}
.koty {font-family: fantasy;
    font-size: 30px;
color: pink;
}




